<section class='section'>
  <div class='container single_recipe_list'>
      <div class='card'>
        <div class='card-content'>
          <div class='media'>
            <div class='media-content'>
              <h1 class='title is-size-1 has-text-centered'>
                Shopping List
              </h1>
            
             <%# other details %>
              <p class='subtitle is-5'>Amount of food to buy: <%= @recipe.foods.count %></p>
              <p class='subtitle is-5'>Total value of food needed: $ <%= @recipe.recipe_foods.map { |rf| rf.food.price * rf.quantity }.sum %></p>
              <p class='subtitle is-5'>Recipe: <%= @recipe.name %></p>
              
              <hr />


            <table class='table is-bordered is-striped is-narrow is-hoverable is-fullwidth mt-5'>
              <thead>
                <tr>
                  <th>Food</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>

              <tbody>
              
              <% @recipe.recipe_foods.each do |rf| %>
               <% @food.each do |food| %>  
                <% if @food != rf %>

                  <tr>
                    <td><%= @food.name %></td>
                    <td><%= @food.quantity %></td>
                    <td><%=@food.price %></td>

             
                
                  
                  </tr>
                  <% end %>
                  <% end %> 
                <%# <% end %>  
                  
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

